.cartitem {
    box-shadow: 0 10px 30px 0 rgba(165, 165, 165, 0.1);
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: rgb(81, 81, 81);
    display: flex;
    justify-content: space-between;
}

.itemamount {
    width: 28%;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.minusbtn,
.plusbtn {
    padding-top: 20px;
    max-height: 20px;
}

.productimagecart {
    width: 25%;
    border-radius: inherit;
}

.productimagecart img {
    width: 100%;
    border-radius: inherit;
}

.productinfo>h5,
.productinfo>h4 {
    margin: 5px;

}

.cartitems {
    margin-top: 20px;
}

.showcartpage {
    display: flex;
    flex-direction: column;
}

.total {
    margin-top: auto;
    z-index: 5;
    position: sticky;
    left: 25px;
    bottom: 25px;
    color: rgb(58, 58, 58);
}

.Cartbottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 15px;
    position: sticky;
    left: 20px;
    bottom: 12px;
    width: 350px;
    color: #fff;


}

.paynowbtn {

    color: #fff;
    border-radius: 40px;
}

.paynowbtn>.paybtn {
    width: 200px;
    color: #fff;
    padding: 0;
    border-radius: inherit;
}